name: Test Go Application

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  test-go-app:
    runs-on: ubuntu-latest
    env:
      RESOURCE_GROUP: apim-kura
      APIM_NAME: gh-apim-kura-${{ inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Build Go application
        run: go build -o kura .

      - name: Fetch subscription keys (before)
        run: |
          ./kura backup \
            --resource-group "${{ env.RESOURCE_GROUP }}" \
            --apim-name "${{ env.APIM_NAME }}" \
            --subscription "${{ secrets.AZURE_SUBSCRIPTION_ID }}" \
            --output before.json

      - name: Run kura backup
        run: |
          ./kura backup \
            --resource-group "${{ env.RESOURCE_GROUP }}" \
            --apim-name "${{ env.APIM_NAME }}" \
            --subscription "${{ secrets.AZURE_SUBSCRIPTION_ID }}"

      - name: Delete all subscription resources
        run: |
          ./kura delete \
            --resource-group "${{ env.RESOURCE_GROUP }}" \
            --apim-name "${{ env.APIM_NAME }}" \
            --subscription "${{ secrets.AZURE_SUBSCRIPTION_ID }}"

      - name: Run kura restore
        run: |
          ./kura restore \
            --resource-group "${{ env.RESOURCE_GROUP }}" \
            --apim-name "${{ env.APIM_NAME }}" \
            --subscription "${{ secrets.AZURE_SUBSCRIPTION_ID }}" \
            --input "backup/${{ env.RESOURCE_GROUP }}/${{ env.APIM_NAME }}/subscriptions.json"

      - name: Fetch subscription keys (after)
        run: |
          ./kura backup \
            --resource-group "${{ env.RESOURCE_GROUP }}" \
            --apim-name "${{ env.APIM_NAME }}" \
            --subscription "${{ secrets.AZURE_SUBSCRIPTION_ID }}" \
            --output after.json

      - name: Compare subscription keys
        run: |
          # test if before.json and after.json are not empty
          if [ ! -s before.json ] || [ ! -s after.json ]; then
            echo "One of the backup files is empty!"
            exit 1
          fi

          ./kura compare before.json after.json
